@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply box-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply p-0 m-0 font-JosefinSans overflow-x-hidden;    
    -webkit-font-smoothing: antialiased;
  }
  body::-webkit-scrollbar-track,
  .mainnav__inner::-webkit-scrollbar-track {
    background-color: #000000;
  }

  body::-webkit-scrollbar,
  .mainnav__inner::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
  }

  body::-webkit-scrollbar-thumb,
  .mainnav__inner::-webkit-scrollbar-thumb {
    background-color: #465850;
  }
  input,
  textarea,
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 !font-Philosopher font-400 uppercase tracking-02em;    
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    @apply xl:text-55 xl:leading-55 lg:text-40 lg:leading-46 text-36 leading-46;
  }
  h2 {
    @apply xl:text-48 xl:leading-48 lg:text-36 lg:leading-46 text-28 leading-36;
  }
  h3 {
    @apply xl:text-40 xl:leading-40 lg:text-32 lg:leading-38 text-24 leading-30;
  }
  h4 {
    @apply lg:text-20 lg:leading-24 text-18 leading-24;
  }
  h5 {
    @apply lg:text-18 lg:leading-26 text-16 leading-22;
  }
  h6 {  
    @apply text-16 leading-22;
  }

  .title-reg h1,
  .title-reg h2,
  .title-reg h3,
  .title-reg h4,
  .title-reg h5,
  .title-reg h6 {
    @apply font-400; 
  }

  .title-bold h1,
  .title-bold h2,
  .title-bold h3,
  .title-bold h4,
  .title-bold h5,
  .title-bold h6 {
    @apply font-700;        
  }         

  .no__tracking,
  .no__tracking h1,    
  .no__tracking h2, 
  .no__tracking h3, 
  .no__tracking h4, 
  .no__tracking h5, 
  .no__tracking h6 {
    @apply tracking-0 !important;                             
  }        

  .bg_black {
    @apply bg-lightblack;
  }

  .title-white h1,
  .title-white h2,
  .title-white h3,
  .title-white h4,
  .title-white h5,
  .title-white h6 {
    @apply text-white;
  }

  .title-black h1,
  .title-black h2,
  .title-black h3,
  .title-black h4,
  .title-black h5,
  .title-black h6 {
    @apply text-lightblack;
  }

  a {
    @apply no-underline;
  }

  a,
  a:hover {
    @apply transition-all duration-300;
  }

  ul {
    @apply list-none p-0 m-0;
  }

  p {
    @apply font-Lato text-16 leading-23 tracking-02em font-400 m-0;
  }

  .container-fluid {
    @apply lg:px-[42px] px-30;
  }

  .container-fluid-md {
    @apply lg:px-75 px-30;
  }

  .container-fluid-xl {
    @apply xxl:px-[125px] lg:px-60 px-30;
  }

  .container-custom {
    @apply xxl:px-[125px] lg:px-60 px-30 xxl:pr-[42px] lg:pr-[42px] pr-30;
  }

  .content p {
    @apply mt-15 m-0;
    -webkit-font-smoothing: antialiased;
  }

  .content.white p {
    @apply text-white;
  }

  .content.black p {
    @apply text-lightblack;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    @apply hidden;
  }
}

@layer components {
  .cursor {
    @apply pointer-events-none fixed top-[50%] left-[50%] flex justify-center items-center border-1 border-solid border-[#b2806c] bg-[#b2806c] opacity-0 w-0 h-0 text-[0px] z-9999 visible rounded-50 text-white capitalize font-Lato leading-26;
    transform: translate(-50%, -50%);      
  }
  .btn {
    @apply text-16 leading-16 font-700 tracking-02em text-center font-JosefinSans capitalize inline-block sm:py-[15px] py-[12px] sm:px-40 px-25;
  }
  .btn_whitetransparent {
    @apply text-white border-2 border-solid border-white hover:bg-white hover:text-lightblack;
  }
  .btn_whitetransparentopacity {
    @apply text-white border-2 border-solid border-white opacity-50 hover:opacity-100 hover:bg-white hover:text-lightblack; 
  }                    
  .btn_blacktransparent {
    @apply text-lightblack border-2 border-solid border-lightgreen hover:bg-lightgreen hover:text-white;         
  }
  .btn_bluetransparentopacity {
    @apply text-blue_one border-2 border-solid border-blue_one opacity-50 hover:opacity-100 hover:bg-blue_one hover:text-white;           
  }
  .btn_greentransparent {
    @apply text-lightgreen border-2 border-solid border-lightgreen hover:bg-lightgreen hover:text-white;           
  }              
  .btn_green {
    @apply text-white bg-lightgreen hover:bg-skindark; 
  }
  .btn_blue {
    @apply text-white bg-blue hover:bg-skindark;
  }
  .titlewhite__regular h3 {
    @apply xl:text-40 xl:leading-40 lg:text-32 lg:leading-38 text-24 leading-30 font-JosefinSans font-400 tracking-02em uppercase text-white;
  }
  .titleblack__regular h3 {
    @apply xl:text-40 xl:leading-40 lg:text-32 lg:leading-38 text-24 leading-30 font-JosefinSans font-400 tracking-02em uppercase text-lightblack;
  }
  .titlepartdescwhite p {
    @apply text-gray font-300;
  }
  .titlepartdescblack p {
    @apply text-lightblack font-300;
  }

  /* Image Animation CSS Start */
  .scroll-animation {
    @apply relative block overflow-hidden;
  }
  @-webkit-keyframes goRight {
    from {
      left: 0;
      right: 100%;
    }
    40% {
      left: 0;
      right: 0;
    }
    60% {
      left: 0;
      right: 0;
    }
    to {
      left: 100%;
      right: 0;
    }
  }

  @keyframes goRight {
    from {
      left: 0;
      right: 100%;
    }
    40% {
      left: 0;
      right: 0;
    }
    60% {
      left: 0;
      right: 0;
    }
    to {
      left: 100%;
      right: 0;
    }
  }
  .revealedBox-in.goRight > span {
    @apply top-0 h-full;
  }
  .revealedBox-in.goRight.childrenSpan-2 > span {
    @apply h-1/2;
  }
  .revealedBox-in.goRight.childrenSpan-3 > span {
    @apply h-1/3;
  }
  .revealedBox-in.goRight.childrenSpan-4 > span {
    @apply h-1/4;
  } 
  .revealedBox-in.goRight.childrenSpan-5 > span {
    @apply h-1/5;
  }
  .revealedBox .contentBox {
    @apply opacity-0;
  }
  .revealedBox > span {
    @apply absolute block bg-blue bg-opacity-70;
  }
  .revealedBox-in > .contentBox {
    @apply opacity-100;
    transition-delay: 1.05s;
  }
  .revealedBox-in.goRight > span {
    -webkit-animation: goRight 1.9s;
    animation: goRight 1.9s;
  }
  .revealedBox-in > span {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .revealedBox-in > span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .revealedBox-in > span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .revealedBox-in > span:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .revealedBox-in > span:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  /* Image Animation CSS End */
}

@layer utilities {
  .main-nav {
    @apply fixed top-0 h-screen bg-lightblack pointer-events-none z-9 left-0 lg:w-fit w-full;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  body.menu-open .main-nav {
    @apply pointer-events-auto;
  }
  .menulink__hoveranimation ul li a {
    @apply relative;
  }
  .menulink__hoveranimation ul li a::before {
    @apply content-[''] absolute bottom-[-6px] w-[70%] scale-x-0 m-auto text-center h-[2px] bg-white right-0 left-0 flex justify-center items-center transition-all duration-500 ease-in-out;
  }
  .menulink__hoveranimation ul li a:hover::before {
    @apply scale-x-100 transition-all duration-500 ease-in-out;
  }
  .header .top-navbar .header__menu {
    @apply xlscreen:hidden;
  }
  .header .top-navbar .header__menu > ul {
    @apply flex flex-wrap xxl:gap-x-[30px] gap-x-[15px];
  }
  .header .top-navbar .header__menu ul li a {
    @apply text-white font-700 font-JosefinSans text-14 leading-14 tracking-02em uppercase relative;
  }
  .header .menu-icon .line {
    @apply w-[18px] h-[3px] bg-white transition-all duration-300;
  }
  .header.is-sticky {
    @apply fixed w-full bg-lightblack  py-20 z-999 transition-all duration-300;
  }
  .menu-open {
    @apply overflow-y-hidden;
  }
  .menu-open .header {
    @apply z-999;
  }
  .menu-open .header::before {
    @apply hidden;
  }
  .menu-open .header .top-navbar ul {
    @apply hidden;
  }
  .menu-open .header .menu-icon span:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  .menu-open .header .menu-icon span:nth-child(2) {
    @apply w-0 hidden opacity-0 invisible;
  }
  .menu-open .header .menu-icon span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  .menu-wrapper-content {
    @apply xxl:w-[455px] lg:w-[375px] w-full;
  }
  .main-nav .menu-wrapper .menu-wrapper-content {
    @apply xxl:pl-95 lg:pl-90 pl-30 xxl:pr-75 lg:pr-30 pr-10 h-screen overflow-x-hidden xl:pt-[200px] lg:pt-[160px] pt-[130px] xl:pb-45 pb-30;
  }
  .main-nav
    .menu-wrapper
    .menu-wrapper-content
    ul.main-menu
    li
    .submenu-button.active {
    @apply rotate-90 transition-all duration-300;
  }
  .main-nav .menu-wrapper .menu-wrapper-content .mainnav__primary-menu ul {
    @apply flex justify-start flex-col xl:gap-y-[30px] gap-y-3;
  }
  .main-nav .menu-wrapper .menu-wrapper-content .mainnav__primary-menu ul li a {
    @apply font-Philosopher text-[28px] leading-[21px] uppercase font-400 text-white relative inline-block;
    -webkit-font-smoothing: antialiased;
  }
  .main-nav .menu-wrapper .mainnav__secondary-menu ul li a {
    @apply text-white text-[17px] leading-30 font-JosefinSans font-700 tracking-02em capitalize relative pb-[3px];
    -webkit-font-smoothing: antialiased;
  }
  .main-nav .menu-wrapper .mainnav__secondary-menu ul li a::before {
    @apply content-[''] absolute bottom-0 w-[70%] scale-x-0 m-auto text-center h-[2px] bg-white right-0 left-0 flex justify-center items-center transition-all duration-500 ease-in-out;
  }
  .main-nav .menu-wrapper .mainnav__secondary-menu ul li a:hover::before {
    @apply scale-x-100 transition-all duration-500 ease-in-out;
  }
  .mainnav__secondary-menu {
    @apply md:pt-40 pt-20 md:mt-40 mt-20 border-0 border-t-2 border-solid border-white border-opacity-50;
  }
  .mainnav__bottompartcontact a {
    @apply inline-block text-16 leading-[23px] font-Lato font-300 text-white transition-all duration-500 ease-in-out hover:text-skindark;
  }
  .mainnav__bottompartsocial ul {
    @apply flex items-center flex-wrap gap-[8px] pt-20;
  }
  .mainnav__bottompartsocial ul li a {
    @apply flex justify-center items-center w-[27px] h-[27px] rounded-999 bg-lightgreen transition-all duration-500 ease-in-out hover:bg-skindark;
  }
  .mainnav__bottompartsocial ul li a img {
    @apply max-w-[15px] m-auto object-contain;
  }
  .mainnav__bottompartcontactmail a {
    @apply underline;
  }
  .mainnav__loadedbtn {
    @apply hidden lgscreen:hidden;
  }
  body.menu-open .mainnav__loadedbtn {
    @apply block lgscreen:hidden;
  }
  .mainnav__primary-menu,
  .mainnav__secondary-menu > ul,
  .mainnav__bottompart {
    @apply pl-15;
  }
  /* Menu */

  /* Banner Start */
  .banner {
    @apply h-[calc(100vh_-_1px)]; 
  }
  .banner::before {
    content: "";
    @apply absolute top-0 left-0 h-full w-full bg-gradient1;
  }
  .banner__contentelementtitle h1 {
    @apply font-400 text-white tracking-02em capitalize;
  }
  .banner__contentelementdesc p {
    @apply text-18 leading-23 text-gray font-Lato font-600 tracking-02em;
  }
  .banner #custom-seekbar{  
    @apply pointer-events-none h-[4px] overflow-hidden relative w-full mt-[-2px];       
  }
  .banner #custom-seekbar::before {
    @apply content-[''] bg-lightblue absolute top-0 left-0 h-[4px] w-0 transition-all duration-[10s] ease-in-out;             
  }    
  .banner #custom-seekbar.custom-seekbarfull::before {
    @apply w-full transition-all duration-[10s] ease-in-out;
  }               
  .tech-front .lity-container {
    @apply max-w-full !important;    
  }

  /* Banner End */

  /*  Grid Start */
  .grid__itemtitle h5 {
    @apply lg:text-18 lg:leading-26 text-16 leading-22 lg:py-10 py-10 text-center text-white font-JosefinSans font-700 uppercase;
  }
  .grid__itemdesc p {
    @apply text-14 leading-21 font-Lato font-300 text-center tracking-02em text-gray;
  }
  /*  Grid End */

  /* Zigzag Style One Start */
  .zigzag__image {
    @apply relative pt-[59.84%];
  }
  .zigzag__image.zigzag__imageportrait {
    @apply relative pt-[84.19%];   
  }
  .zigzag__imageportrait::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full bg-gradient1 z-1;        
  }
  .zigzag__image img {
    @apply absolute top-0 left-0 w-full h-full drop-shadow-slider_image;
  }
  .zigzag__contentdesc p:not(:last-child) {
    @apply mb-20;      
  }
  .zigzag__contentdesc p {
    @apply text-16 leading-23 font-Lato font-300 tracking-02em text-gray;
  }
  .zigzag__contentdesc .content-grid {
    @apply border-dashed border-0 border-b-1 border-white pb-10;
  }
  .zigzag__contentdesc .content-grid:last-child {
    @apply border-0;
  }
  .zigzag__contentdesc .content-grid p {
    @apply m-0;
  }
  .zigzag .container-fluid-xl {
    @apply lg:pl-0 !important;
  }
  .zigzag__imageleft .zigzag__imagemain {
    @apply lg:pr-[22px];
  }
  .zigzag .zigzag__content {
    @apply xxl:pl-60 lg:pl-30;
  }
  .zigzag__imageright .zigzag__imagemain {
    @apply lg:pl-[22px];
  }
  .zigzag__imageright .zigzag__content {
    @apply xxl:pr-60 lg:pr-30;
  }
  .zigzag__imageright .container-fluid-xl {
    @apply lg:!pr-0;
  }
  /* Zigzag Style One End */

  .service-grid-wrapper .services__itemsboximage img {
    @apply w-full h-[600px] object-cover block;
  }
  .service-grid-wrapper .services__itemsboxcontent a {
    @apply text-[38px] text-white;
  }
  .service-grid-wrapper .service-grid-box a >::before {
    @apply content-[''] absolute bottom-0 left-0 w-full h-[326px] bg-gradient2 opacity-25 z-1;
  }

  /* Review Slider Start */
  .reviewslider__itemstargroup ul li img {
    @apply max-w-[12px] object-contain;
  }
  .reviewslider__itemstargroup ul li {
    @apply flex items-center justify-center;
  }
  .reviewslider__itemtitle h4 {
    @apply lg:text-20 lg:leading-20 text-18 leading-24 text-lightgreen font-700 font-JosefinSans uppercase text-center;
  }
  .reviewslider__itemdesc p {
    @apply text-lightblack text-16 leading-23 font-Lato text-center;
  }
  .reviewslider__itemctmname p {
    @apply text-10 leading-[10px] uppercase font-JosefinSans font-400 tracking-02em text-lightblack;
  }
  .reviewslider__item {
    @apply flex flex-col justify-center items-center;
  }
  .reviewslider__item {
    @apply h-full;
  }
  /* Review Slider End */

  /* Footer Start */ 
  .footernav__secondary-menu ul li a {
    @apply text-white capitalize font-700 text-[17px] leading-[17px] tracking-02em;
  }
  .footernav__primary-menu ul li a {
    @apply text-white uppercase font-700 xxl:text-21 text-18 leading-21 tracking-02em;
  }
  .footer-navbar.menulink__hoveranimation ul li a::before {
    @apply content-[''] -bottom-3;
  }
  .footer-left .sicon ul {
    @apply flex flex-wrap gap-x-2 gap-y-2 justify-center;
  }
  .footer-left .sicon ul li a {
    @apply w-[27px] h-[27px] bg-lightgreen rounded-100 flex items-center justify-center transition-all duration-500 ease-in-out hover:bg-skindark;
  }
  .footer-left .sicon ul li a:hover svg path {
    @apply bg-skindark;
  }
  .footer__bottomlogo ul li,
  .footer__bottomlogo ul li a {
    @apply flex;
  }
  .footer__bottomlogo ul li a img {
    @apply object-contain;
  }
  /* Footer End */

  

  /* Newsletter Start */
  .footer .newsletter__form .gform_wrapper form {
    @apply flex justify-center lgscreen:flex-col;
  }    
  .footer .newsletter__form .gform_wrapper .gform_body {
    @apply w-full lgscreen:w-full m-auto my-0;
  }
  .footer .newsletter__form .gform_wrapper .gform_body .gform_fields {
    @apply xxl:gap-x-[45px] gap-x-[20px] !important;     
  }
  .footer .newsletter__form .gform_wrapper ul {
    @apply flex flex-wrap justify-between pr-30 w-full p-0 m-0 lgscreen:flex-col lgscreen:pr-0;
  }
  .footer .newsletter__form .gform_wrapper ul li {
    @apply w-[calc(33.33%_-_20px)] lgscreen:w-full lgscreen:mb-10;
  }
  .footer .newsletter__form .gform_wrapper .gform-body input {
    @apply w-full bg-transparent px-0 sm:py-[12px] py-[8px] border-white border-0 border-b-1 border-solid outline-none text-white font-JosefinSans font-400 text-14 leading-14 tracking-02em uppercase text-opacity-80 !important;                
  }          
  .footer .newsletter__form .gform_wrapper .gform-body input::placeholder {
    @apply text-white opacity-80 !important;                 
  }
  .footer .newsletter__form .gform_wrapper .gform_footer {
    @apply my-0 py-0 xxl:ml-[59px] lg:ml-[30px] lgscreen:ml-0 lgscreen:mt-30;      
  }
  .footer .newsletter__form .gform_wrapper .gform_footer input {
    @apply text-16 leading-16 font-700 tracking-02em text-center font-JosefinSans capitalize inline-block sm:py-[15px] py-[6px] sm:px-40 px-35 text-white border-1 border-solid border-white hover:bg-white hover:text-lightblack transition-all duration-500 ease-in-out cursor-pointer;                 
  }
  .footer .newsletter__form .gform_wrapper .gform_footer input:hover {    
    @apply bg-white border-white text-skindark; 
  }
  .footer .newsletter__form .gform_wrapper .gform_footer input:hover:before {
    @apply transition-all duration-300 w-[60px];   
  }          
  /* Newsletter End */

}

/* Responsive CSS Start */
@screen mdscreen {
  .main-nav
    .menu-wrapper
    .menu-wrapper-content
    ul.main-menu
    li
    ul.sub-menu.active {
    @apply block relative left-0 px-0 py-15 pt-0 mt-0 !important;
  }
}
